.navbar {
    display: flex;
    height: fit-content;
    width: 100%;
    position: sticky;
    background-color: #00385A;
    color: white;
    top: 0;
    z-index: 10;
    /* margin-bottom: 50px; */
}

.navbar_brand {
    display: flex;
    width: 20%;
    align-items: center left;
    /* border:1px solid black; */
}

.navbar-item_img {
    display: flex;
    max-height: 90%;
    width: auto;
    margin-left: 10px;
}

.navbar_menu {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-between;
    /* border:1px solid black; */
}

.navbar_user {
    display: flex;
    width: 15%;
    align-items: center;
    place-content: center;
}

.dropbtn {
    /* background-color: #04AA6D; */
    color: white;
    /* padding: 16px;
   font-size: 16px; */
    border: none;
    background-color: #00385A;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-weight: 600;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



#americanFlag {
    width: 5%;
}

.navHover:hover {
    color: orange !important;
}

.navbar_search {
    display: flex;
    width: 200px;
}
