.query-results {
    position: absolute;
    top: inherit;
    margin-top: 45px;
    margin-left: 10px;
    outline-color: black;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-weight: 600;
}

.query-image {
    width: -moz-max-content;
    height: 20px;
}

.sbar {
    display: flex;
    width:100%;
}
.sbar_input{
    display:flex;
    width:100%;
    border-radius: 20px;
    background: transparent;
    color:white;
    padding:10px;
    /* background-color: black; */
}

.searchBar {
    display: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    color: inherit;
    min-width: 80px;
    /*background-color: revert;*/
}
