
.services{
    display:flex;
    margin-top: 50px;
    flex-direction: column;
     width:100%;
}
.services_top{
    display:flex;
    height:60px;
    margin-bottom: 10px;
     width:100%;

}
.services_bottom{
    display:flex;

     width:100%;
}
.services_btn{
    margin-left:auto;
    place-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}
.services_left{
    display:flex;
    width:20%;
    height:100%;
}
.services_right{
    display:flex;
    flex-direction: column;
    width:80%;
    /* border:1px solid black; */
    height:100%;
}
.services_right_header{
    display:flex;
    width:100%;
    height: 50px;
    /* border:1px solid black; */
    border-top: 1px solid #1E90FF;
    border-bottom: 1px solid #1E90FF;
    border-right:1px solid #1E90FF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}
.services_right_header_text{
   padding:10px;
    /* border:1px solid black; */

}
.service_grid_container{
    display:grid;
    /* grid-template: 25fr/ auto auto auto auto ; */
    /* grid-template-rows: 25fr 25fr 25fr 25fr ; */
    /* grid-auto-columns: 25fr; */
    grid-template-columns: repeat(4, 23%);
    gap: 2%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /* border:1px solid black; */
    width:100%;
}
.service_block{
    display:flex;
    flex-direction: column;
    /* max-width: 300px; */
    /* width:25fr; */
    /* min-height: 200px; */
    height:fit-content;
    border:1px solid #ddd;
    border-radius: 10px;
   color:black;
   transition: transform .2s; /* Animation */


}
a{
    text-decoration: none;
}
.service_block:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: white;
}
.service_block_top{
    display:flex;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    place-content: center;
    border-bottom: 1px solid #ddd;
    height:20%;
    border-top-left-radius: 10px;
}
.service_block_bottom{
    display:flex;
    height:80%;
    width:95%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;


}
.service_block_bottom_imgCon{
    display:flex;
    width:40%;
    align-items: center;





}
.service_block_bottom_imgCon_img{
    display:flex;

    margin-left: auto;
    margin-right: auto;
    height:50%;
    max-width:100%;
    width:auto;


}
.service_block_bottom_text{
    display:flex;
    width:55%;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    height:100%;
    margin-left: auto;



}
.service_loading{
    display:flex;
    width:100%;
    height:20%;
    margin-top: auto;
    align-items: center;
    place-content: center;
    font-weight: bold;
    font-size: 20px;

}
