.sb_main{
    display:flex;
    width:100%;
    height:100%;
}
.sb{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
}
.sb_top{
    width:100%;
    display:flex;
    align-items: center;
    place-content: center;
    font-weight: bold;
    font-size: 22px;
    height:100px;
    color:#00385A;
}
.sb_mid{
    display:flex;
    width: 100%;
    height:40px;
    /* border:2px solid black; */
    align-items: center;
}
.sb_mid_icon{
    display:flex;
    color:black;
    padding:15px;
}
.sb_body{
    display:flex;
    width: 100%;
    height:100%;
    border:1px solid #ddd;
    border-radius: 10px;
}
.sb_page{
    display:flex;
    flex-direction: column;
    margin-top:50px ;
    width:100%;
}
.sb_page_top{
    display:flex;
    height:50px;
}
.sb_page_bottom{
    display:flex;
    width:100%;
    height:100%;
}
.sb_grid_container{
    display:grid;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 10px;
    padding: 10px;
    width:100%;
    height:100%;
    border:1px solid black;
    border-radius: 10px;
    
    place-content: center;
    
    
}
.sb_block1{
    display:flex;
    border:1px solid #ddd;
    align-items: center;
    place-content: center;
    height:100px;
    border-radius: 10px;
    background-color:#00385A;
    color:white;
    transition: transform .2s;
    
}
.sb_block1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.sb_block1>p{
display: flex;
font-weight: bold;
}
.sb_block{
    display:flex;
    flex-direction: column;

    width:100%;

    height:100px;
    border:1px solid #ddd;
    border-radius: 10px;
   color:black;
   transition: transform .2s; /* Animation */
}

.sb_block_top{
    display:flex;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    place-content: center;
    border-bottom: 1px solid #ddd;
    height:20%;
}
.sb_block_bottom{
    display:flex;
    height:80%;
    width:95%;
    margin-left: auto;
    margin-right: auto;
}
.sb_block_bottom_imgCon{
    display:flex;
    width:40%;
    align-items: center;
}
.sb_block_bottom_imgCon_img{
    display:flex;

    margin-left: auto;
    margin-right: auto;
    height:50%;
    max-width:100%;
    width:auto;
}
.sb_block_bottom_text{
    display:flex;
    width:55%;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    height:100%;
    margin-left: auto;
}
.sb_block:hover{
    cursor: pointer;
}

.sb_loading{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
