.todos{
    display:flex;
    width:100%;
    height:600px;
    margin-top: 50px;
}
.todos_l{
    display:flex;
    flex-direction: column;
    width:20%;
    border:1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
.todos_l_top{
    display:flex;
    width:100%;
    height:50px;

}
.todos_active{
    border-bottom: 3px solid orange !important;

}
.todos_l_items{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    overflow-y: scroll;
    overflow: hidden;

}
.todos_l_items_item{
    display:flex;
    width:100%;
    height:60px;
    border-bottom: 2px solid black;
    align-items: center;
    place-content: center;
    transition: transform .2s; /* Animation */
}
.todos_l_items_item:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color:#00385A ;
    color:white;
}
.todos_l_top_item{
    display:flex;
    width:50%;
    height:100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
    place-content: center;
    font-size: 13px;
    font-weight: bold;
}
.todos_l_top_item:hover{
    cursor: pointer;
}
.todos_r{
    display:flex;
    flex-direction: column;

    width:80%;
    border:1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;



}
.todos_loading{
    display:flex;
    width:100%;
    margin-top: 20px;
    align-items: center;
    place-content: center;
    font-size: 18px;
    font-weight: 600;
}
