.todo{
    display:flex;
    width:100%;
    height:100%;
    flex-direction: column;
}
.todo_h{
    display:flex;
    width:100%;

    font-weight: bold;
    font-size: 20px;
    align-items: center;
    place-content: center;
    height:45px;
    border-bottom: 1px solid #ddd;
}
.todo_body{
    display:flex;
    flex-direction: column;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.todo_body_elm{
    display:flex;
    margin-bottom: 20px;
}
.todo_btn{
    margin-right:10px;
    margin-top:5px;
}
.todo_body_reqCon{
    display:flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    border :1px solid #ddd;

}
.todo_body_reqCon_top{
    display:flex;
    width:100%;
    height:fit-content;
    border-bottom :1px solid #ddd;

}
.todo_body_reqCon_top_title{
    display:flex;
    width:50%;
    font-weight:bold;
    font-size:20px;
    align-items: center;
    place-content: center;

}
.todo_body_reqCon_top_title->p{
    margin-right: 10px;

}
.todo_body_reqCon_top_desc{
    display:flex;
    width:50%;
    font-weight:500;
    font-size:20px;
    align-items: center;
    place-content: center;


}
.todo_body_reqCon_block{
    display:flex;
    flex-direction: column;
    padding:10px;
    border :1px solid #ddd;

}
.todo_body_reqCon_block_row{
    display:flex;
}
.todo_body_reqCon_block_item{
    display:flex;
    margin-right: 5px;

}

